
 h1 {text-align:  left;
            color: rgb(255, 255, 255);
            font-family: Agbalumo;
        font-size: 250%;
            }

    img {margin-top: 25%; 
        margin-left: 80%;
        margin-right: 10%;
        float: left;
       }

    p {margin-top: 15%; 
        margin-left: 5%;
        margin-right: 50%;
        font-family: Agbalumo;
            color: rgb(255, 255, 255);
            font-size: 80%;
    }
   body {background-color: black;
        color: white;
}
    a {
        
    }
           



.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}


.pure-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-bottom: 20%;
}

a.pure-button-primary {
    background: white;
    color: #ffffff;
    margin-bottom: 70%;
    font-size: 70%;
}







            .home-menu {
                padding: 2em;
                text-align: center;
                box-shadow: 0 3px 3px rgb(0, 0, 0);
            }
            .home-menu {
                background-image: url(cheeetahbanner.png);
                background-size: 1920px 90%;
                background-repeat: repeat-x;
                font-family: Agbalumo;
                color: white ;
                
            }
            .pure-menu.pure-menu-fixed {
                /* Fixed menus normally have a border at the bottom. */
                border-bottom: none;
                /* I need a higher z-index here because of the scroll-over effect. */
                z-index: 4;
            }
            
            .home-menu .pure-menu-heading {
                color: rgb(255, 255, 255);
                font-weight: 200;
                font-size: 300%;
            }
            
            .home-menu .pure-menu-selected a {
                color:rgb(255, 255, 255);
            }
            
            .home-menu li a { 
                font-size: 130%;
                font-family: Agbalumo;
                color: white;
                padding-top: 30%;
                padding-bottom: 50%;
            }

            .home-menu li a:hover,
            .home-menu li a:focus {
                background: none;
                border: none;
                color:rgb(0, 0, 0);
            }


            .home-menu {
                text-align: left;
            }
                .home-menu ul {
                    float: right;
                }





                .splash-container {
                    background: #000000;
                    z-index: 1;
                    overflow: hidden;
                    /* The following styles are required for the "scroll-over" effect */
                    width: 100%;
                    height: 90%;
                    top: 0;
                    left: 0;
                   
                }
                
                .splash {
                    /* absolute center .splash within .splash-container */
                    width: 80%;
                    height: 50%;
                    margin: auto;
                    position: absolute;
                    top: 100px; left: 0; bottom: 0; right: 0;
                    text-align: left;
                
                }
                
                /* This is the main heading that appears on the blue section */
                .splash-head {
                    
                    font-weight: bold;
                    color: white;
                    font-size: 5.5vw;
                  
                   
                    font-weight: 100;
                  
                    line-height: 1em;
                }
                
                /* This is the subheading that appears on the blue section */
                .splash-subhead {
                    color: white;
                    
                   
            
                }


                

            






                