
    h1 {text-align:  left;
            color: black;
            font-family: Agbalumo;
        font-size: 500%;
            }

    img {margin-top: 25%; 
        margin-left: 10%;}

    p {margin-top: 15%; 
        margin-left: 10%;
        margin-right: 20%;
        font-family: Agbalumo;
            color: black;
    }

 	.huh { background-color:rgb;
            font-size: 150%;
            font-family: Agbalumo;
            color: black;}